<form class="container" #loginForm="ngForm" (ngSubmit)="onSubmit()">

    <div class=" card m-5 pb-5">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">

            <div class="form-group">
                <label for="userName ">User Name</label>
                <input class="form-control" required id="userName" [(ngModel)]="username" name="userName" #userName="ngModel">
                <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
                    User name is required
                </div>
            </div>

            <div class="form-group">
                <label for="userPassword">Password</label>
                <input class="form-control" type="password" required id="userPassword" [(ngModel)]="password" name="userPassword" #userPassword="ngModel">
                <div [hidden]="userPassword.valid || userPassword.pristine" class="alert alert-danger">
                    Password is required
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input class="form-control" type="password" required id="confirmPassword" [(ngModel)]="confirmpassword" name="confirmPassword" #confirmPassword="ngModel">
                <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
                    Confirm password is required
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="login(); loginForm.reset()" [disabled]="!loginForm.valid"> LOGIN</button>

        </div>
    </div>

</form>